<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>	<string>org.nanoapps.radioplus</string>
	<key>CFBundleName</key>		<string>Radio+</string>
	<key>CFBundleExecutable</key>	<string>radioplus</string>
	<key>HBAppKind</key>			<integer>1</integer>
	<key>HBIconGlyph</key>		<string>radioplus</string>
	<key>HBIconColor</key>		<string>#69809d</string>
</dict>
</plist>
