<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>	<string>org.nanoapps.ftlprobe</string>
	<key>CFBundleName</key>		<string>Ftlprobe</string>
	<key>CFBundleExecutable</key>	<string>ftlprobe</string>
	<key>HBAppKind</key>			<integer>1</integer>
	<key>HBIconGlyph</key>		<string>hard-drive</string>
	<key>HBIconColor</key>		<string>#0da5f5</string>
</dict>
</plist>
